h1{
    color: orange;
    text-align: center;

}

#link{
    color: blue;
    font-style: italic;
    text-decoration: underline ;
    font-family: 'Times New Roman', Times, serif;
    
}

#fotoComida{
    display:block;
    margin:auto;
}

section h2#subtitulo{
    color: orange;
    text-decoration: underline;

}